#titletag {
    font-weight: bold;
}
.btn.btn-square {
    border-radius: 0;
}
.form-control.square {
    border-radius: 0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
    box-shadow: none !important;
    outline: 0;
}

.simplebox {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;   
    box-shadow: none !important;
}